<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".AppInstance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="微信 APK 安装补丁">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InstallerActivity"
            android:exported="true"
            android:label="安装 APK">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="application/apk.1" />
                <data android:mimeType="application/apk.1.1" />
                <data android:mimeType="application/apk.1.1.1" />
                <data android:mimeType="application/apk.1.1.1.1" />
                <data android:mimeType="application/apk.1.1.1.1.1" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter tools:targetApi="s">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:pathSuffix=".apk.1" />
                <data android:pathSuffix=".apk.1.1" />
                <data android:pathSuffix=".apk.1.1.1" />
                <data android:pathSuffix=".apk.1.1.1.1" />
                <data android:pathSuffix=".apk.1.1.1.1.1" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShadowActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wxapk"
                    android:path="/settings"
                    android:scheme="wxapk" />

            </intent-filter>

        </activity>

        <provider
            android:name=".AppFileProvider"
            android:authorities="${applicationId}.AppFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>